
.vs/VisionEdit/v15/.suo
.vs/VisionEdit/v15/Server/sqlite3/db.lock
.vs/VisionEdit/v15/Server/sqlite3/storage.ide
.vs/VisionEdit/v15/Server/sqlite3/storage.ide-shm
.vs/VisionEdit/v15/Server/sqlite3/storage.ide-wal
CaliperTool/obj/Debug/CaliperTool.csproj.CoreCompileInputs.cache
CaliperTool/obj/Debug/CaliperTool.csproj.FileListAbsolute.txt
CaliperTool/obj/Debug/CaliperTool.csproj.GenerateResource.Cache
CaliperTool/obj/Debug/CaliperTool.csprojAssemblyReference.cache
CommonMethods/obj/Debug/CommonHelper.csproj.CoreCompileInputs.cache
CommonMethods/obj/Debug/CommonHelper.csproj.FileListAbsolute.txt
CommonMethods/obj/Debug/CommonHelper.csprojAssemblyReference.cache
DataStruct/obj/Debug/DataStruct.csproj.CoreCompileInputs.cache
DataStruct/obj/Debug/DataStruct.csproj.FileListAbsolute.txt
DataStruct/obj/Debug/DataStruct.csprojAssemblyReference.cache
FindCircle/obj/Debug/FindCircleTool.csproj.CoreCompileInputs.cache
FindCircle/obj/Debug/FindCircleTool.csproj.FileListAbsolute.txt
FindCircle/obj/Debug/FindCircleTool.csproj.GenerateResource.Cache
FindCircle/obj/Debug/FindCircleTool.csprojAssemblyReference.cache
FindLine/obj/Debug/FindLineTool.csproj.CoreCompileInputs.cache
FindLine/obj/Debug/FindLineTool.csproj.FileListAbsolute.txt
FindLine/obj/Debug/FindLineTool.csproj.GenerateResource.Cache
FindLine/obj/Debug/FindLineTool.csprojAssemblyReference.cache
HalconTool/obj/Debug/HalconTool.csproj.CoreCompileInputs.cache
HalconTool/obj/Debug/HalconTool.csproj.FileListAbsolute.txt
HalconTool/obj/Debug/HalconTool.csproj.GenerateResource.Cache
HalconTool/obj/Debug/HalconTool.csprojAssemblyReference.cache
HalconWindowTest/obj/Debug/HalconWindow.csproj.CoreCompileInputs.cache
HalconWindowTest/obj/Debug/HalconWindow.csproj.FileListAbsolute.txt
HalconWindowTest/obj/Debug/HalconWindow.csproj.GenerateResource.Cache
HalconWindowTest/obj/Debug/HalconWindow.csprojAssemblyReference.cache
ToolBase/obj/Debug/ToolBase.csproj.CoreCompileInputs.cache
ToolBase/obj/Debug/ToolBase.csproj.FileListAbsolute.txt
ToolBase/obj/Debug/ToolBase.csprojAssemblyReference.cache
VisionEdit/obj/Debug/VisionEdit.csproj.CoreCompileInputs.cache
VisionEdit/obj/Debug/VisionEdit.csproj.FileListAbsolute.txt
VisionEdit/obj/Debug/VisionEdit.csproj.GenerateResource.Cache
VisionEdit/obj/Debug/VisionEdit.csprojAssemblyReference.cache
VisionJobFactory/obj/Debug/VisionJobFactory.csproj.CoreCompileInputs.cache
VisionJobFactory/obj/Debug/VisionJobFactory.csproj.FileListAbsolute.txt
VisionJobFactory/obj/Debug/VisionJobFactory.csprojAssemblyReference.cache
